body {
    font-family: Arial, sans-serif;
   background-image: url(windows\ black.jpg);
   background-size: cover;
    margin: 0;
    padding: 0;
}




/* LOGIN PAGE */
form {
    background-color: white;
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

/* INPUT */

input {
    width: 95%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #1072d3;
    color: rgb(244, 243, 243);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1072d3;
}

/* DASHBOARD */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(237, 236, 236);
}

th {
    background-color: #333;
    color: rgb(230, 213, 213);
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #fefcfc;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
}
